<header>
    <div class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container float-left">
            <a href="{% url 'index' %}" class="navbar-brand">Ensar Demirci</a>
            <ul class="navbar-nav">

                <li
                    {% if request.path == '/' %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a href="{% url 'index' %}" class="nav-link px-3">Anasayfa <span class="sr-only">(current)</span></a>
                </li>

                <li
                    {% if 'ozgecmis' in request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a href="{% url 'about' %}" class="nav-link px-3">Özgeçmiş ve Yetenekler</a>
                </li>


                <li
                    {% if 'blog' in request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a href="{% url 'blog' %}" class="nav-link px-3">Blog</a>
                </li>

                <li
                    {% if 'iletisim' in request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a href="{% url 'contact' %}" class="nav-link px-3">İletişim</a>
                </li>


            </ul>
        </div>
    </div>
</header>


